<!-- TEMPLATE -->
<script id="course-partial" type="text/x-handlebars-template">
    <div class="course">
        <img class="semester-icon" src="{{courseImage course}}">
        <span>{{course}}</span>
        <div class="dropdown">
            <img class="dropbtn" src="images/icon-menu-15.png">
            <div class="dropdown-content">
                <a class="remove-course" href="#">Drop course</a>
            </div>
        </div>
        <hr>
    </div>
</script>